old_files/
.idea/
*.iml
*.iws
*.ipr
KeyLoggerServer/logs
KeyLoggerServer/data.json
KeyLoggerServer/users.json
KeyLoggerServer/commend.json
KeyLoggerAgent/__pycache__
KeyLoggerServer/tests.py
old_files
update.sh

__pycache__/
*.py[cod]
*.swp
.DS_Store
.vscode/

# virtualenv
venv/
ENV/
env/
/.venv/
/.idea/
KeyLoggerServer/users.json
