old_files/
.idea/
*.iml
*.iws
*.ipr
KeyLoggerServer/logs
KeyLoggerServer/data.json
KeyLoggerAgent/__pycache__
KeyLoggerServer/tests.py

__pycache__/
*.py[cod]
*.swp
.DS_Store
.vscode/

# virtualenv
venv/
ENV/
env/
