<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key logger Dashboard</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <header>
        <h1>Key logger Dashboard</h1>
        <button onclick="fetchLogs()">refresh data</button>
        
    </header>

    <main>
        <aside>
            <h2>menu</h2>
            <ul>
                <li><a class="MenuItem" href="#">Reports</a></li>
                <li><a class="MenuItem" href="#">Activity analysis</a></li>
                <li><a class="MenuItem" href="#">settings</a></li>
            </ul>
        </aside>
        
        
        

        <section class="content">
            <h2>data analysis</h2>
            <table>
                <thead>
                    <tr>
                        <th>time</th>
                        <th>window</th>
                        <th>text</th>
                    </tr>
                </thead>
                <tbody id="Table">
                    <!-- <tr><td>.</td></tr> -->
                </tbody>
            </table>
        </section>
    </main>
    <script src="index.js"></script>
</body>
</html>
